
      html, body {
        margin: 0;
        padding: 0;
      }
      
      
      .anchor:target {
        color: red !important;
        font-stretch: extra-expanded;
      }
      
      body {
        /*text-align: -webkit-center;*/
        background-color: floralwhite;
      }
      
      .flex-row {
        display: flex;
        flex-direction: row;
        flex-basis: auto;

      }
      
      .list-header input::placeholder {
        color:azure;
      }
      .list-header input {
       background-color: darkblue;
      }
      
      .flex-table {
        display: flex;
        flex-direction: column;
      }    
      
#popup {      
          -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0; left: 0;
  background-color: rgba(39, 55, 77, 0.59);
  display: none;
  z-index: 100;            
}

#popup:target {
  display:block;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.popup {
  flex:0;
  min-height: 82vh;
  max-height: 82vh;
  margin: 10vh 8vw;
  border: ridge;
  border-radius: 0.1em;
  background-color: aliceblue;
  box-shadow: 10px 10px 8px #282020;
}

.link {
  min-width: -webkit-fill-available;
}

.main {
   flex:0;
   background-color: azure; 
   color: darkblue;
   min-height: 92vh;
   max-height: 98vh;
   max-height: 98vh;
   width: 88vw; 
   min-width: 358px;
   margin: 4vh 6vw; 
   box-shadow: 10px 10px 8px #282020;
   border-top: solid 1px #cecece;
   border-left: solid 1px #cecece;
}

@media only screen and (max-width: 450px) {
  .main {
    min-width: 100vw;
    box-shadow: unset;
    min-height: 90vh !important;
    max-height: 90vh;
    margin: unset;
    border: unset;
  }

.popup {
  flex:0;
  min-height: 90vh;
  max-height: 90vh;
  margin: unset;
  border: unset;
  border-radius: 0.1em;
  background-color: aliceblue;
  box-shadow: unset;
}
}

.id {
  min-width: 20px !important
}

.list .row:nth-child(odd) {background: azure}
.list .row:nth-child(even) {background: aliceblue}
