.loader,
.loader:before,
.loader:after {
  background: blue;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: blue;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}


      html, body {
        margin: 0;
        padding: 0;
      }
      
      
      .anchor:target {
        color: red !important;
        font-stretch: extra-expanded;
      }
      
      body {
        /*text-align: -webkit-center;*/
        background-color: #b7b7b7;
      }
      
      .flex-row {
        display: flex;
        flex-direction: row;
        flex-basis: auto;

      }
      
      .list-header input::placeholder {
        color:azure;
      }
      .list-header input {
       background-color: #36393C;
       min-height:2.0em;
      }
      
      .flex-table {
        display: flex;
        flex-direction: column;
      }    
      
#popup {      

    position: relative;
    left: -600px;
    background: blue;
    -webkit-animation: slide 0.2s forwards;
    -webkit-animation-delay: 1s;
    animation: slide 0.2s forwards;
    animation-delay: 0s;

  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0; /*left: 0;*/
  background-color: rgba(39, 55, 77, 0.59);
  display: none ;
  z-index: 100;            
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

#popup:target {
  display:block;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.popup {
  display: none;
  flex:0;
  min-height: 82vh;
  max-height: 82vh;
  margin: 10vh 8vw;
  border: ridge;
  border-radius: 0.1em;
  background-color: aliceblue;
  box-shadow: 10px 10px 8px #282020;
}

#popup:target {
  display:block;
}

.link {
  min-width: -webkit-fill-available;
}

body {
   color: #2d3033;
   font-weight: 500;
    line-height: 1.6;
    font-size: 0.7125rem;
    max-width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-charcoal);
    font-family: "Montserrat", Helvetica, sans-serif; 
}

.main {
   flex:0;
   background-color: #fafbfc; 

   min-height: 92vh;
   max-height: 98vh;
   max-height: 98vh;
   width: 88vw; 
   min-width: 358px;
   margin: 4vh 6vw; 
   box-shadow: 10px 10px 8px #282020;
   border-top: solid 1px #cecece;
   border-left: solid 1px #cecece;
  
}


@media only screen and (max-width: 450px) {
  .invadd {
    min-width: 80vw;
    max-width: 80vw;
    min-height: 80vh;
    max-height: 80vh;        
    margin: auto;
  }
  
  .ext-cost {
    display: none;
  }
  
  .main {
    min-width: 100vw;
    box-shadow: unset;
    min-height: 100vh !important;
    max-height: 100vh;
    margin: unset;
    border: unset;
  }

.popup {
  flex:0;
  min-height: 100vh;
  max-height: 100vh;
  margin: unset;
  border: unset;
  border-radius: 0.1em;
  background-color: aliceblue;
  box-shadow: unset;
}
}


.id {
  min-width: 20px !important
}

.row1{
text-shadow: 1px 1px 2px pink;
}

.list .row:nth-child(odd) {background: #fafbfc}
.list .row:nth-child(even) {background: white}

#new{
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    margin-bottom: 6px;
    border-radius: 0.3em;
}

button {
 border-radius:0.3em;
 color:white;
 background-color:#1f1f7b;
 border-style:groove;
 height:2em;
}
